.wp-block-blocks-apps-flyer-cards {
    max-width: 1320px;
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            .wp-block-blocks-apps-flyer-card {
                width: calc(100% / #{$i} - 20px);
            }
        }
    }
    .wp-block-blocks-apps-flyer-card {
        margin: 10px;
        text-align: center;
        h3 {
            padding: 0 0 2rem 0;
            font-size: 24px;
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
            width: 88%;
            margin: auto;
            min-height: 96px;
        }
        p {
            font-family: "Gilroy", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
}